[Unit]
Description=Timer to start the backup service which gets the back up every Friday at 01:00

[Timer]
OnCalendar=Fri *-*-* 01:00:00
Persistent=true
Unit=backup.service
RandomizedDelaySec=3m

[Install]
WantedBy=timers.target
