[Unit]
Description=Timer to start the wthr service which gets the weather everyday at 05:00

[Timer]
OnCalender=*-*-* 05:00:00
Persistent=true

[Install]
WantedBy=timers.target
